@font-face {
    font-family: min;
    src: url(../fonts/min.ttf);
}

@font-face {
    font-family: max;
    src: url(../fonts/max.otf);
}

:root{
    --light: #FFFFFF;
    --blue: #9ADCFF; 
    --pink: #FF8AAE; 
    --melon: #FFB2A6;
    --yellow: #FFF89A; 
    --long: 2rem; 
}

body{
    width: 100vw;
    overflow: hidden;
    background: var(--light);
    background: linear-gradient(0deg, var(--light) 0%, var(--blue) 100%);
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    width: 100vw;
    height: 100vh;
}

.principal__t{
    position: relative;
    font-size: 9rem;
    font-weight: bold;
    font-family: max;
    text-transform: lowercase;
    color: var(--pink);
    will-change: transform;
    z-index: 10;
}

.principal__t::before{
    content: '' attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bolder;
    transform: scale(1.1);
    font-size: 9rem;
    -webkit-text-stroke: 1rem var(--light);
    z-index: -1;
}

.principal__t:nth-of-type(1){
    text-transform: capitalize;
    animation: float 3s ease-in-out alternate-reverse infinite;
}

.principal__t:nth-of-type(2){ animation: float 3s .3s ease-in-out alternate-reverse infinite; }
.principal__t:nth-of-type(3){ animation: float 3s ease-in-out alternate-reverse infinite; }
.principal__t:nth-of-type(4){ animation: float 3s .6s ease-in-out alternate-reverse infinite; }
.principal__t:nth-of-type(5){ animation: float 3s .3s ease-in-out alternate-reverse infinite; }
.principal__t:nth-of-type(6){ animation: float 3s .6s ease-in-out alternate-reverse infinite; }

@keyframes float {
    0%{
        transform: translateY(3%);
    }
    100%{
        transform: translateY(-2%);
    }
}

/* CLOUDS */

.clouds{
    position:absolute;
    width: calc(var(--long) * 5);
    aspect-ratio: 3/1;
    background-color: var(--light);
    top: 30%;
    left: -30vw;
    z-index: -2;
    border-radius: 2rem;
    animation: carry 30s 1s linear infinite;
    will-change: transform;
}

.clouds:nth-of-type(2){ 
    animation: carry 25s linear infinite;
    transform: scale(1.3);
    top: 50%;
}
.clouds:nth-of-type(3){ 
    animation: carry 50s 10s linear infinite;
    transform: scale(.3);
    top: 20%;
}
.clouds:nth-of-type(4){ 
    animation: carry 35s 25s linear infinite;
    transform: scale(.6);
    top: 10%;
}
.clouds:nth-of-type(5){ 
    animation: carry 30s 15s linear infinite;
    transform: scale(.8);
    top: 35%;
}
.clouds:nth-of-type(6){ 
    animation: carry 20s 15s linear infinite;
    transform: scale(2.2);
    top: 70%;
}
.clouds::after{
    top: -80%;
    left: 30%;
    position: absolute;
    content: '';
    width: calc(var(--long) * 3);
    aspect-ratio: 1/1;
    background-color: inherit;
    border-radius: 50%;
}

.clouds::before{
    top: -40%;
    left: 15%;
    position: absolute;
    content: '';
    width: calc(var(--long) * 1.5);
    aspect-ratio: 1/1;
    background-color: inherit;
    border-radius: 50%;
}

@keyframes carry {
    0%{
        transform: translateX(-9rem) scale(inherit);
    }
    100%{
        transform: translateX(150vw) ;
    }
}