:root{
  --lightpink: #ff76a3;
  --mountpink: #76585f;
  --lavender: #FEF2F4; 
  --mimipink: #FED9E0;
  --mimipink2: #FED9E044;
  --black: #000000;
}

@font-face {
  font-family: giveAway;
  src: url('../fonts/give_away/GiveAway.ttf');
}
@font-face {
  font-family: okashi;
  src: url('../fonts/okashi/Okashi.ttf');
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  background-image:  linear-gradient(var(--mimipink2) 2px, transparent 2px), linear-gradient(90deg, var(--mimipink2) 2px, transparent 2px);
  background-size: 50px 50px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.window{
  width: 200px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--lavender);
  border-radius: 10px;
  outline: .2rem solid var(--black);
  overflow: hidden;
  display: none;
  z-index: 80;
}

.window__header{
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: .2rem solid var(--black);
  background-color: var(--lightpink);
  .window__title{
    font-size: .9rem;
    font-family: giveAway;
    margin-left: 10px;
    color: var(--mountpink);
  }
}

.window__content{
  width: 100%;
  height: 70%;
  background-image: url(../assets/image.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.window__button{
  width: 100%;
  height: 15%;
  border-top: .2rem solid var(--black);
  background-color: var(--mimipink);
}

.fill{
  width: 52px;
  aspect-ratio: 1/1;
  position: absolute;
  background-color: var(--mimipink2);
  border: 2px solid var(--mimipink2);
  z-index: 10;
}

.heart{
  position: absolute;
  opacity: .5;
  background-color: var(--lightpink);
  width: 50px;
  height: 50px;
  clip-path: polygon(20% 0%, 20% 10%, 10% 10%, 10% 20%,0% 20%,0% 50%,10% 50%,10% 60%,20% 60%,20% 70%,30% 70%,30% 80%,40% 80%,40% 90%,60% 90%,60% 80%,70% 80%,70% 70%,80% 70%,80% 60%,90% 60%,90% 50%,100% 50%,100% 20%,90% 20%,90% 10%,80% 10%,80% 0%,60% 0%,60% 10%, 40% 10%,40% 0%,20% 0%);
}

.folder{
  transform-origin: 90% 10%;
  transition: transform .4s ease ;
  position: absolute;
  width: 200px;
  border: .5rem solid var(--lavender);
  aspect-ratio: 7/5;
  background-color: var(--lightpink);
  border-radius: .2rem;
  cursor: pointer;
  perspective: 1000px;
  z-index: 10;
}

.folder__moved{
  transform: translate(-35vw,40vh);
}
.folder::after{
  content: '';
  position: absolute;
  width: 40%;
  height: 15%;
  top: -21%;
  transform: translateX(-.5rem);
  background-color: var(--lightpink);
  border-top: .5rem solid var(--lavender);
  border-left: .5rem solid var(--lavender);
  border-right: .5rem solid var(--lavender);
  border-radius: .2rem;
}
.open{
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 1rem);
  height: 100%;
  border: .5rem solid var(--lavender);
  transition: transform .3s ease-in;
  border-radius: .2rem;
  transform-origin: bottom center;
  background-color: var(--lightpink);
  transform: rotate3d(2, 0, 0, 0deg) translate(-.5rem,.5rem);
}

.open--folder{
  pointer-events: none;
  transform-origin: bottom ;
  transform: rotate3d(2, 0, 0, -30deg) translate(-.5rem,.5rem) skewX(-5deg);
}

.windowCute{
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: 70vh;
  background: linear-gradient( var(--mimipink) 20%, var(--lightpink) 50%);
  background-size: 500% 100%;
  border: .5rem solid var(--lavender);
  z-index: 80;
}

.active {
  background: linear-gradient(120deg, var(--mimipink), var(--lightpink), var(--lavender));
	background-size: 400% 400%;
	animation: gradient 1s ease infinite;
}

.windowCute__drag{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: grab;
  width: 90%;
  height: 80%;
  border: dashed .2rem var(--lavender);
  svg{
      pointer-events: none;
      fill: var(--lavender);
      width: calc(10vh + 10vw);
      animation: shake 1s ease infinite;
  }
  .drag__title{
      pointer-events: none;
      font-family: giveAway;
      font-weight: bolder;
      font-size: 2rem;
      color: var(--lavender);
  }
}

.windowCute__default{
  color: var(--mimipink);
  font-family: giveAway;
  font-weight: bold;
  font-size: 1.5rem;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


@keyframes border-dance {
  0% {
    background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
  }
  100% {
    background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
  }
}

@keyframes shake {
  0%,30%{
    transform: rotate(-5deg);
  }15%,45%{
    transform: rotate(5deg);
  }
  60%,100%{
    transform: rotate(0);
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes opacity {
  0%,100%{
    opacity: .2;
  }50%{
    opacity: 1;
  }
}